

body {
    color: brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    main {
        color: rgb(0, 0, 0)
    }



/*HEADER*/



.header {
    background-color: papayawhip;
    display: flex;
    justify-content: space-between;
}

.header nav {
    width: 80%;
}

.header nav ul {
    display: flex;
    justify-content: space-between;
}

.header nav ul li {
    list-style: none;
}

.header nav ul li a {
    text-decoration: none;
}



/*HOME*/



.padre {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.imagenes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.imagenes img {
    width: 600px; 
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.imagenes img {
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.imagenes img:hover {
    transform: rotate(5deg) scale(1.1);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}





/*SOBRE NOSOTROS*/



.logo {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-left: 8%;
    margin-bottom: 10%;
}

.logo img {
    width: 50%; 
    transition: transform 0.5s; 
}

.logo img:hover {
    transform: scale(1.1); 
}



#abajo {
    text-align: center;
}


.headersobre {
    background-color: papayawhip;
    display: flex;
    justify-content: space-between;
}

.headersobre nav {
    width: 80%;
} 

.headersobre nav ul {
    display: flex;
    justify-content: space-between;
}

.headersobre nav ul li {
    list-style: none;
}

.headersobre nav ul li a {
    text-decoration: none;
}


@keyframes rebotar {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

#texto {
    width: 100%;
    height: 250%;
    background-color: rgb(216, 216, 216);
    border: 4px solid rgb(0, 0, 0);
    margin-top: 3%;
    margin-bottom: 4%;
    text-align: center;
    font-style: initial;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-around;

        /* la animación SOLO a #sobrenosotros */
        animation: rebotar 2s ease-in-out infinite;
}


.footer {
    text-align: center;
    font-style: unset;
    font-family: Arial, Helvetica, sans-serif;
    background-color: papayawhip;
    margin-bottom: 70px;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.footer:hover {
    transform: translateY(-10px); 
}


.card {
    background-color: papayawhip;
    border: 3px solid rgb(0, 0, 0)
}



/*CONTACTO*/



.headercontacto {
    background-color: papayawhip;
    display: flex;
    justify-content: space-between;
}

.headercontacto nav {
    width: 80%;
}

.headercontacto nav ul {
    display: flex;
    justify-content: space-between;
}

.headercontacto nav ul li {
    list-style: none;
}

.headercontacto nav ul li a {
    text-decoration: none;
}


@keyframes entrar {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#contactos {
    width: 85%;
    height: 25vh;
    background-color: rgb(216, 216, 216);
    padding: 40px;
    border: 5px solid black;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center;
    text-decoration: dashed;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    /* la animación */
    animation: entrar 1.5s ease-out;
}



#imagen {
    background-color: papayawhip;
    text-align: center;
    text-decoration: dashed;
}



/*PRODUCTOS*/



.shop {
color: black;
text-align: center;
margin-top: 4%;
}

.headerproducto { 
    background-color: papayawhip;
    display: flex;
    justify-content: space-between;
}

.headerproducto nav {
    width: 80%;
}

.headerproducto nav ul {
    display: flex;
    justify-content: space-between;
}

.headerproducto nav ul li {
    list-style: none;
}

.headerproducto nav ul li a {
    text-decoration: none;
}

.catálogo {
    background-color: papayawhip;
    border: 4px solid rgb(0, 0, 0);
    margin-top: 5%;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-around;
}

.catálogo ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 100px;
        grid-row-gap: 100px;
        }

        .catálogo ul li {
            display: flex;
            flex-direction: column; 
            align-items: center; 
            text-align: center;
        }
        
        .catálogo ul li img {
            width: 80px; 
            height: auto;
            margin-top: 8px; 
            border-radius: 8px; 
            transition: transform 0.3s ease-in-out; 
        }
        
        .catálogo ul li img:hover {
            transform: scale(1.1); 
        }
        

.btn {
    color: brown;
    background-color: papayawhip;
    margin-left: 750px;
    margin-top: 50px;
    
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.catálogo {
    animation: breathing 3s ease-in-out infinite;
}






/*DESKTOP A MOBILE
tablet 768px
mobile 480px
*/
/*Solo se declara dentro de la mq, los cambios a realizar no agregamos ni repetimos el mismo codigo
*/



@media (max-width: 768px){
    .catálogo ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 100px;
        grid-row-gap: 100px;
        }

    #contactos {
        width: 85%;
        height: 50vh;
        background-color: rgba(4, 46, 18, 0.87);
        padding: 40px;
        border: 5px solid black;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        text-align: center;
        text-decoration: dashed;
        font-style: italic;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

}


@media(min-width: 480px) and (max-width: 768px){
    .catálogo ul {
        background-color: papayawhip;   
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 100px;
        grid-row-gap: 100px;
        }
}



