

//Titulos y parrafo


    $title-prin: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    $title-sec: 'Helvetica';
    $text-important: 'Baaskerville';
    $text-general: 'Quicksand';
    $text-decoration: 'dashed';


//colores


$withe: #ffffff;
$black: #000000;
$gray: #f0f8ff7d;
$brown: #a52a2a;
$papayawhip: #ffefd5;


//medidas

$small: 3em;
$medium: 5em;
$large: 10em; 

$widthsmall: 50%;
$widthmedium: 80%;
$witdhlarge: 110%;
